@using AkilliSayac.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AkilliSayacUser> SignInManager
@inject UserManager<AkilliSayacUser> UserManager

@{
    var user = UserManager.Users.Where(x => x.UserName == UserManager.GetUserName(User)).FirstOrDefault();
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="~/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">@user.FirstName @user.LastName</span>
        </a><!-- End Profile Image Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
                <h6>@user.FirstName @user.LastName</h6>
                <span>Son Başarılı Giriş Tarihi: @user.LastLoginDate.ToString("dd.MM.yyyy HH:mm:ss")</span>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item d-flex align-items-center" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bi bi-person"></i>
                    <span>Profil</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item d-flex align-items-center" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Çıkış Yap</span>
                </a>
            </li>

        </ul><!-- End Profile Dropdown Items -->
    </li>
    <!-- End Profile Nav -->
}