@{
    ViewData["Title"] = "Loglar";

    IEnumerable<Log> logs = ViewData["Logs"] as IEnumerable<Log>;
    IEnumerable<LogType> logTypes = ViewData["LogTypes"] as IEnumerable<LogType>;
    IEnumerable<Device> devices = ViewData["Devices"] as IEnumerable<Device>;

    var userLogTypeId = logTypes.Where(x => x.LogTypeName == "User").FirstOrDefault().LogTypeId;
    var databaseLogTypeId = logTypes.Where(x => x.LogTypeName == "Database").FirstOrDefault().LogTypeId;
    var deviceLogs = logs.Where(x => x.LogTypeId != userLogTypeId && x.LogTypeId != databaseLogTypeId).ToList();
    var userLogs = logs.Where(x => x.LogTypeId == userLogTypeId).ToList();
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cihaz Logları</h5>
                    

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Tarih</th>
                                <th scope="col">Cihaz</th>
                                <th scope="col">Log Tipi</th>
                                <th scope="col">Mesaj</th>
                                <th scope="col">Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Log log in deviceLogs)
                            {
                                <tr>
                                    @{
                                        var logType = logTypes.Where(x => x.LogTypeId == log.LogTypeId).FirstOrDefault();
                                    }
                                    <td>@log.LogTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    <td>@devices.Where(x => x.DeviceId == log.DeviceId).FirstOrDefault().DeviceName</td>
                                    <td>@logType.LogTypeName</td>
                                    <td>@log.LogMessage</td>
                                    <td>
                                        <span class="@log.LogStatusBadge">@log.LogStatus</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kullanıcı Logları</h5>


                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Tarih</th>
                                <th scope="col">Kullanıcı</th>
                                <th scope="col">Mesaj</th>
                                <th scope="col">Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Log log in userLogs)
                            {
                                <tr>
                                    <td>@log.LogTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    <td>@log.UserId</td>
                                    <td>@log.LogMessage</td>
                                    <td>
                                        <span class="@log.LogStatusBadge">@log.LogStatus</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>