@page
@model RegisterModel

@{
    ViewData["Title"] = "Kayıt Oluştur";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>


    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon" asp-append-version="true">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon" asp-append-version="true">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/quill/quill.snow.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/quill/quill.bubble.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/simple-datatables/style.css" rel="stylesheet" asp-append-version="true">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center w-auto">
                                    <img src="~/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">AkilliSayac</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">@ViewData["Title"]</h5>
                                        <p class="text-center small">Üye kaydı oluştur.</p>
                                    </div>

                                    <form class="row g-3 needs-validation" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                        <div class="col-12">
                                            <label asp-for="Input.FirstName" class="form-label">İsim</label>
                                            <input asp-for="Input.FirstName" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Input.LastName" class="form-label">Soyisim</label>
                                            <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>
                                        
                                        <div class="col-12">
                                            <label asp-for="Input.Email" class="form-label">Email</label>
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Input.Password" class="form-label">Şifre</label>
                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Input.ConfirmPassword">Şifreyi Doğrula</label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Input.RoleName" class="form-label">Rol</label>
                                            <select asp-for="Input.RoleName" asp-items="Model.Roles" class="form-control"></select>
                                            <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Oluştur</button>
                                        </div>
                                    </form>



                                    @*
                                    <div class="col-md-6 col-md-offset-2">
                                        <section>
                                            <h3>Use another service to register.</h3>
                                            <hr />
                                            @{
                                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                                {
                                                    <div>
                                                        <p>
                                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                                article
                                                                about setting up this ASP.NET application to support logging in via external services
                                                            </a>.
                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                        <div>
                                                            <p>
                                                                @foreach (var provider in Model.ExternalLogins!)
                                                                {
                                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                                }
                                                            </p>
                                                        </div>
                                                    </form>
                                                }
                                            }
                                        </section>
                                    </div>
                                    *@

                                </div>
                            </div>

                            <div class="credits">
                                Designed by <a href="#">AkilliSayac</a>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/apexcharts/apexcharts.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/chart.js/chart.min.js" asp-append-version="true"></script>
    <script src="~/lib/echarts/echarts.min.js" asp-append-version="true"></script>
    <script src="~/lib/quill/quill.min.js" asp-append-version="true"></script>
    <script src="~/lib/simple-datatables/simple-datatables.js" asp-append-version="true"></script>
    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js" asp-append-version="true"></script>

</body>

</html>