@model IEnumerable<Log>


@{
    ViewData["Title"] = "Veritabanı İşlemleri";
}

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

<section class="section">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Oluşturan Kişi</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                    <tr>
                        <td>@log.UserId</td>
                        <td>@log.LogTime.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>

        <form asp-action="DatabaseBackUp" asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value">
            <input type="hidden" asp-for="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" />
            <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-database"></i> Veritabanı Yedeği İndir</button>
        </form>
    </div>
</section>