@using AkilliSayac.Areas.Identity.Data;

@model IEnumerable<AkilliSayacUser>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

<section class="section">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Durum</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Email</th>
                    <th>Kullanıcı Rolü</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @{
                                if (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value != @user.Id)
                                {
                                    if (user.LockoutEnd == null)
                                    {
                                        <form asp-action="Lock" asp-route-id="@user.Id">
                                            <input type="hidden" asp-for="@user.Id" />
                                            <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-check"></i></button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-action="UnLock" asp-route-id="@user.Id">
                                            <input type="hidden" asp-for="@user.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-x"></i></button>
                                        </form>
                                    }
                                }
                            }
                        </td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>
                            @{
                                if (user.RoleName == "Admin")
                                {
                                    @:Admin
                                }
                                else if (user.RoleName == "SuperAdmin")
                                {
                                    @:SuperAdmin
                                }
                            }
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a> |*@
                            @{
                                if(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value != @user.Id)
                                {
                                    <form asp-action="Delete" asp-route-id="@user.Id">
                                        <input type="hidden" asp-for="@user.Id"/>
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-person-x-fill"></i></button>
                                    </form>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success btn-sm"><i class="bi bi-person-plus-fill"></i> Yeni Kayıt Oluştur</a></p>
    </div>
</section>